<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Vantage" prefix="Vantage • ">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white flex flex-col min-h-screen">
    <header class="px-4 sm:px-6 lg:px-8 bg-black text-white">
      <div class="flex items-center justify-between py-3 text-sm">
        <div class="flex items-center gap-4">
          <a href="/" class="text-lg leading-8">
            Vantage
          </a>
        </div>
        <div class="flex items-center gap-4  leading-8">
          <%= if @current_user do %>
            <div class="flex items-center rounded-full bg-brand/15 text-brand group">
              <button
                class="px-2.5 rounded-full hover:bg-brand hover:text-black"
                phx-click={VantageWeb.Layouts.Root.toggle_user_menu()}
              >
                {@current_user.email}
              </button>
              <div
                id="user-menu"
                hidden
                phx-click-away={VantageWeb.Layouts.Root.toggle_user_menu()}
              >
                <div class="flex items-center">
                  <.link
                    href={~p"/users/settings"}
                    class="px-2.5 rounded-full hover:bg-brand hover:text-black"
                  >
                    Settings
                  </.link>

                  <.link
                    href={~p"/users/log_out"}
                    method="delete"
                    class="px-2.5 rounded-full hover:bg-brand hover:text-black"
                  >
                    Log out
                  </.link>
                </div>
              </div>
            </div>
          <% else %>
            <div class="flex items-center rounded-full bg-brand/15 text-brand group">
              <.link
                href={~p"/users/log_in"}
                class={
                  if @conn.request_path == "/users/log_in" do
                    "px-2.5 rounded-full bg-brand/80 text-black group-hover:bg-transparent group-hover:text-inherit hover:!bg-brand hover:!text-black"
                  else
                    "px-2.5 rounded-full hover:bg-brand hover:text-black"
                  end
                }
              >
                Log in
              </.link>
              <.link
                href={~p"/users/register"}
                class={
                  if @conn.request_path == "/users/log_in" do
                    "px-2.5 rounded-full hover:bg-brand hover:text-black"
                  else
                    "px-2.5 rounded-full bg-brand/80 text-black group-hover:bg-transparent group-hover:text-inherit hover:!bg-brand hover:!text-black"
                  end
                }
              >
                Register
              </.link>
            </div>
          <% end %>
        </div>
      </div>
    </header>

    {@inner_content}
  </body>
</html>
