@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* This file is for your main application CSS */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.woff2');
  font-style: normal;
  font-weight: 300 700;
}

.font-brand {
  font-feature-settings: 'liga', 'ss02', 'ss03';
}

.menu-item {
  @apply block px-2 py-2 text-sm text-gray-900 font-brand;
}

.menu-item:hover {
  @apply hover:bg-brand;
}

.button-primary {
  @apply bg-gray-200 text-gray-900 font-brand;
}

.button-primary:hover {
  @apply hover:bg-brand;
}
